<%= form_with(model: device, local: true) do |form| %>
  <div class="form-check mb-3">
  <%= form.check_box :deletion_requested, class: "form-check-input" %>
  <%= form.label :deletion_requested, "Demander la suppression", class: "form-check-label" %>
</div>

  <% if device.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(device.errors.count, "erreur") %> empêchent l'enregistrement :</h4>
      <ul>
        <% device.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, "Nom de l'objet", class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :description, "Description", class: "form-label" %>
    <%= form.text_area :description, class: "form-control", rows: 5, required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :location, "Emplacement de l'objet", class: "form-label" %>
    <%= form.text_field :location, class: "form-control" %>
  </div>

  <div class="mb-3 form-check">
    <%= form.check_box :status, class: "form-check-input" %>
    <%= form.label :status, "Objet actif ?", class: "form-check-label" %>
  </div>

  <div class="mb-3">
    <%= form.label :category_id, "Catégorie", class: "form-label" %>
    <%= form.collection_select :category_id, Category.all, :id, :name, prompt: "- Aucune -", class: "form-select" %>
  </div>

  <div class="actions">
    <%= form.submit "Enregistrer", class: "btn btn-primary" %>
  </div>
<% end %>

