<h1><%= @device.name %></h1>

<p><strong>Description :</strong> <%= @device.description %></p>
<p><strong>Ajouté le :</strong> <%= l(@device.created_at, format: :long) %></p>
<p><strong>Statut :</strong> <%= @device.status ? "Actif" : "Inactif" %></p>
<p><strong>Localisation :</strong> <%= @device.location.presence || "-" %></p>
<p><strong>Catégorie :</strong> <%= @device.category&.name || "-" %></p>



<%= link_to 'Retour à la liste', devices_path, class: "btn btn-light me-2" %>

<% if current_user.admin? || current_user.advanced? %>
  <%= link_to 'Modifier', edit_device_path(@device), class: "btn btn-secondary me-2" %>
<% end %>

<% if current_user.admin? %>
  <%= link_to 'Supprimer', device_path(@device),
        data: { turbo_method: :delete, confirm: 'Confirmer la suppression ?' },
        class: "btn btn-danger" %>
<% end %>
<p>
  <strong>Suppression demandée :</strong>
  <%= @device.deletion_requested? ? "Oui" : "Non" %>
</p>
<h3>Données techniques :</h3>
<% if @device.device_data.any? %>
  <ul>
    <% @device.device_data.each do |data| %>
      <li><strong><%= data.key %> :</strong> <%= data.value %></li>
    <% end %>
  </ul>
  <% else %>
  <p class="text-muted">Aucune donnée disponible.</p>
<% end %>

<h3>Ajouter une donnée</h3>

<% if current_user && (current_user.advanced? || current_user.admin?) %>
  <%= form_with model: [@device, DeviceDatum.new], local: true do |f| %>
    <div class="mb-3">
      <%= f.label :key, "Nom de la donnée" %>
      <%= f.text_field :key, class: "form-control", required: true %>
    </div>
    <div class="mb-3">
      <%= f.label :value, "Valeur" %>
      <%= f.text_field :value, class: "form-control", required: true %>
    </div>
    <%= f.submit "Ajouter", class: "btn btn-primary" %>
  <% end %>
<% else %>
  <p class="text-muted">Seuls les utilisateurs avancés ou admin peuvent ajouter des données.</p>
<% end %>



